<div class="row jumbotron">
	<div ng-controller="certificadoJuridicaController as certificadoJuridica" data-ng-init="buscarRUC()">
		<div style="text-align: center;">
			<!-- <img src="img/pass.png"/> -->
			<h2>Pre-registro de personas jurídicas con certificado digital</h2>
		</div>
		<div class="form-group col-lg-9 col-md-12 col-sm-12 center" >
			<hr>
			<div class="alert alert-info" role="alert">
				<strong>
					Ingrese todos los datos que se piden a continuación para registrarse en el portal.
					<br>
					Todos los campos con (*) son obligatorios.
				</strong>
			</div>
		</div>
		<div id="datos-certificadoJuridica" class="col-lg-6 col-md-12 col-sm-12 center">
			<form id="certificadoJuridica" ng-submit="sendMessage()" novalidate>
				<hr>
				<formly-form model="certificadoJuridica.model" fields="certificadoJuridica.modelFields" form="certificadoJuridica.modelForm">
					<div class="row">
						<div class="col-lg-5 col-md-12 col-sm-12">
							<label>Fotografía:</label>
							<img ng-src="{{fotografia}}" ng-model="model.presencialUsuario.fotografia" id="fotografia" width="135" height="160">
						</div>

						<div class="col-lg-7 col-md-12 col-sm-12">
							<label>Firma:</label>
							<img ng-src="{{firma}}" ng-model="model.presencialUsuario.firma" id="firma" width="215" height="80">
						</div>
					</div>
					<br>
					<!-- <pre>{{ certificadoJuridica.model | json }}</pre> -->
					<div ng-bind-html="alerta">
					</div>
					<p>
						<a class="btn btn-default" href="#/certificado" role="button">&laquo; Cancelar </a>
						<!-- <button type="button" class="btn btn-default" ng-disabled="certificadoJuridica.modelForm.$invalid" data-toggle="modal" data-target=".bd-pass-modal-sm">Registrar Usuario</button> -->
						<button type="button" class="btn btn-default" data-toggle="modal" data-target=".bd-example-modal-sm"  ng-disabled="certificadoJuridica.modelForm.$invalid">Enviar</button>
					</p>
				</formly-form>
				<div id="myModal" class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
					<div class="modal-dialog modal-sm">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
								<h4 class="modal-title" id="myModalLabel">Confirmar pre-registro</h4>
							</div>
							<div class="modal-body">
								¿Está seguro que desea pre-registrar usuario?
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
								<input type="submit" class="btn btn-primary" value="Si" />
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
