<h4>Pre-registro</h4>
<h5> <i class="fa fa-building-o" aria-hidden="true"></i> Pre-registro con certificado digital</h5>
<hr>
<div>
  <div id="opciones">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-6 container-option ">
        <div class="option fade-in one">
          <h4>Pre-registro de usuarios</h4>
          <hr>
          <div class="row">
            <div class="col-xs-3">
              <img src="img/user.png"/>
            </div>
            <div class="col-xs-9">
              <p>Visualizar y/o modificar mis datos de usuario. Nombre, apellido, dirección, teléfono, mi nombre de usuario entre otros. </p>
            </div>
          </div>
        </br>
        <p><a class="btn btn-default button-bottom" href="#/certificado/usuario" role="button">Ver detalles &raquo;</a></p>
      </div>
    </div>
    <div class="col-md-6 container-option ">
      <div class="option fade-in one">
        <h4>Pre-registro de personas jurídicas</h4>
        <hr>
        <div class="row">
          <div class="col-xs-3">
            <img src="img/user.png"/>
          </div>
          <div class="col-xs-9">
            <p>Visualizar y/o modificar mis datos de usuario. Nombre, apellido, dirección, teléfono, mi nombre de usuario entre otros. </p>
          </div>
        </div>
      </br>
      <p><a class="btn btn-default button-bottom" href="#/certificado/juridica" role="button">Ver detalles &raquo;</a></p>
    </div>
  </div>
  </div>
</div>
</div>
